.pink {
    background-color: #f3a8bc;
}
.orange {
    background-color: #f5ad94;
}
.yellow {
    background-color: #fff1a6;
}
.green {
    background-color: #b4f9a5;
}
.blue {
    background-color: #9ee7f5;
}
