@import url("./all.css");
* {
    /*css reset*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.pink {
    background-color: #f3a8bc;
}
.orange {
    background-color: #f5ad94;
}
.yellow {
    background-color: #fff1a6;
}
.green {
    background-color: #b4f9a5;
}
.blue {
    background-color: #9ee7f5;
}
body {
    position: relative;
    overflow-x: hidden;
}
.main_container {
    margin: 40px auto;
    height: 680px;
    display: flex;
    justify-content: right;
    width: 450px;
    transition: transform 0.5s linear;
}
.covers {
    width: 93%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    /* overflow: hidden; */
}
.cover_back {
    position: absolute;
    background-color: rgb(255, 253, 232);
    width: 450px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    border-radius: 5px 0 0 5px;
}
.data_card {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
}
.cover_front {
    width: 450px;
    height: 100%;
    background-color: rgb(58, 56, 56);
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    border: 1px solid #999;
    border-radius: 5px 0 0 5px;
}
.tag {
    height: fit-content;
    margin-top: 100px;
    color: #fff;
    padding: 20px;
    border: 1px dashed #fff;
    font-size: 3rem;
    transition: opacity 0.1s linear;
    transition-delay: 0.6s;
}
.alphabets {
    margin: 10px -2px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.key {
    width: 25px;
    margin-top: -3px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: -1px 3px 8px 0 rgba(0, 0, 0, 0.9);
    cursor: pointer;
    color: #666;
    transition: width 0.2s linear;
}
.key:hover {
    width: 29px;
}
.add {
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.add .fa-circle-plus {
    font-size: 3rem;
    color: rgb(240, 83, 83);
    cursor: pointer;
}
.add:hover {
    filter: drop-shadow(2px 4px 2px #bbb);
}
.title_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #777;
    width: 100%;
    height: 30px;
    color: #fff;
    padding: 3px 15px;
}
.addbox_container {
    width: 300px;
    height: fit-content;
    top: 125px;
    left: calc((100vw - 255px) / 2);
    position: absolute;
    background-color: #ccc;
    border: 1px solid #777;
    box-shadow: 5px 5px 8px #555;
    z-index: 100;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.result {
    background-color: red;
    display: none;
    height: fit-content;
    width: 170px;
    padding: 5px;
    color: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    box-shadow: -2px 2px 5px #555;
}
input#firstname + p.result {
    top: 48px;
    left: 190px;
}
input#lastname + p.result {
    top: 83px;
    left: 190px;
}
input#phone + p.result {
    top: 118px;
    left: 190px;
}
.result::after {
    content: "";
    border-color: transparent red transparent transparent;
    border-style: solid;
    border-width: 8px;
    left: -16px;
    position: absolute;
}
.input_data {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    height: fit-content;
    text-align: center;
}
.input_data input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
.input_data button {
    width: fit-content;
    padding: 0 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 1rem;
    line-height: 30px;
    cursor: pointer;
}
.x,
.edit {
    cursor: pointer;
}
.x:hover .fa-square-xmark {
    color: rgb(240, 83, 83);
}
.animation_fwd {
    -webkit-animation: swing-right-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: swing-right-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.5s;
}
.animation_back {
    -webkit-animation: swing-right-back 0.8s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: swing-right-back 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.5s;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-8 12:16:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-right-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-right-fwd {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}
@keyframes swing-right-fwd {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}
@keyframes swing-right-back {
    0% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}
